/*PseudoElementos*/

p::first-letter{
    font-size: 2rem;
}


.seudoEle{
    border: 2px solid black;
    width: 10%;
    text-align: center;
    
}

.seudoEle::before{
   content: 'Hola';
   background-color: red;
}

.seudoEle::after{
    content: 'Perú';
    background-color: red;
 }


 /*PseudoClases*/
 div:hover{
     background-color: yellow;
 }
/*solo para selectores tipo A*/
 a:focus{
     color: green;
 }
 a:active{
     color: aqua;
 }