.tamaño{
    height: 60px;
    width: 100px;
}

#caja1{
    background-color: red;
}
#caja2{
    position:relative ;
    background-color: blue;
}
#caja3{
    background-color: green;
    position:absolute;
    top: -60px;
    left: 100px;
}
#caja4{
    position:fixed;
    background-color: yellow;
}
